<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>

	<nav aria-label="Page navigation example" th:fragment="paginator">
	
	<!--  Inicio de paginador  -->
	<ul class="pagination pagination-circle pg-purple">
		
	<!--  Primera Paginas  -->	
	<li class="page-item" th:active="${page.first}">
	<span class="page-link" th:if="${page.first}">Primera</span>
	<a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">
	Primera</a>			
	</li>
	<!--  Primera Paginas -->
			
			
	<!--  Previa -->
	<li class="page-item">
	<a class="page-link"
	th:if="${page.hasPrevious}" 
	th:href="@{${page.url} (page=${page.paginaActual-2})}">		
	<!--  Icono de previo -->
	 <span aria-hidden="true">&laquo;</span>
     <span class="sr-only">Previous</span>
		<!--  Icono de previo -->	
	</a>				
	</li>
	<!--  Previa -->
			
	<!--  Pagina Actual -->	
  	<li class="page-item" th:each="item : ${page.paginas}"
  	th:class="${item.actual? 'page-item active': 'page-item'}">  	
  	
  	<span class="page-link" th:if="${item.actual}" >
  	<span th:text="${item.numero}"></span>
  	</span>  	
  	
  	<a class="page-link"  th:if="${not item.actual}" 
  	th:href="@{${page.url}(page=${item.numero-1})}">
  	<span th:text="${item.numero}"></span>
  	</a>  	
  	</li>
  	<!--  Pagina Actual -->	
  	
  	<!-- Siguiente-->
	<li class="page-item">	
	<a class="page-link"
	th:if="${page.hasNext}" 
	th:href="@{${page.url} (page=${page.paginaActual})}">
	
	<!-- icono next-->
	<span aria-hidden="true">&raquo;</span>
     <span class="sr-only">Next</span>	
	<!-- icono -->

	</a>				
	</li>
	<!--  Siguiente -->
  	

			
			
	<!--  UltimaPaginas -->
	<li class="page-item">
	<span class="page-link"  th:if="${page.last}">Ultima pagina</span>
	<a class="page-link" th:if="${not page.last}" th:href="@{${page.url} 
	(page=${page.totalDePaginas - 1})}">
	Ultima
	</a>			
	</li>
	<!--  Ultima Paginas -->

	</ul><!--  Final de paginador  -->
	</nav>

</body>
</html>